<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>cn.it.store.listener.InitDataListener</listener-class>
  </listener>
  <filter>
    <filter-name>AutoLoginFilter</filter-name>
    <filter-class>cn.it.store.filter.AutoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutoLoginFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>orderFilter</filter-name>
    <filter-class>cn.it.store.filter.OrderFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>orderFilter</filter-name>
    <url-pattern>/portal/order_info.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>BackEndLoginFilter</display-name>
    <filter-name>BackEndLoginFilter</filter-name>
    <filter-class>cn.it.store.filter.BackEndLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>BackEndLoginFilter</filter-name>
    <url-pattern>/backend/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>cn.it.store.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>cn.it.store.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>cn.it.store.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>cn.it.store.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompanyServlet</display-name>
    <servlet-name>CompanyServlet</servlet-name>
    <servlet-class>cn.it.store.servlet.CompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyServlet</servlet-name>
    <url-pattern>/CompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BackEndLoginServlet</display-name>
    <servlet-name>BackEndLoginServlet</servlet-name>
    <servlet-class>cn.it.store.servlet.BackEndLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BackEndLoginServlet</servlet-name>
    <url-pattern>/BackEndLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>cn.it.store.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
</web-app>